/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/

// Reset classic navigation widgets ul
.widget .menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
#sidebar-1 .widget,
#404-page .widget {
  @extend mb-4;
}
